*{
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #333A73;
    padding-top: 40px;
    
  }

.banner1{
    background-image: url(https://genshin.jmp.blue/characters/layla/portrait);
    z-index: -1;
    background-repeat: no-repeat;
    background-size:contain;
    width: 50%;
    height: 50%;
    position: absolute;
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
}
.banner2{
    background-image: url(https://genshin.jmp.blue/characters/hu-tao/portrait);
    z-index: -1;
    background-repeat: no-repeat;
    background-size:contain;
    width: 60%;
    height: 60%;
    position: absolute;
    position: absolute;
    background-position: right;
    margin-left: 500px;
    
}
.banner3{
    background-image: url(https://genshin.jmp.blue/characters/noelle/portrait);
    z-index: -1;
    background-repeat: no-repeat;
    background-size:contain;
    width: 60%;
    height: 60%;
    position: absolute;
    position: absolute;
    margin-left: 120px;
    
}
.container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.container2{
    width: 55%;
    height: auto;
    margin-left: 250px;
    padding: 20px;
    background-color: #132043;
    box-shadow: 5px 5px 20px rgba(0, 0, 0.5, 0.5);
    margin-bottom: 20px;
    border-top-left-radius: 20px; /* Sudut kiri atas */
    border-top-right-radius: 20px; /* Sudut kanan atas */
    border-bottom-right-radius: 20px; /* Sudut kanan bawah */
    border-bottom-left-radius: 20px; 
    flex-direction: column;
}

.containerbaru {
    display: flex;
    flex-direction: row;
}

.containerContoh {
    width: auto;
    height: auto;
    margin-left: 20px;
    background-color: #132043;
    display: flex;
    flex-direction: column;
}

.containerContoh2 {
    width: auto;
    height: auto;
    background-color: #132043;
    font-size: 15px;
    color: azure;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-top: 18px;
    margin-left: 8px;
}


.container3 {
    width: 55%;
    height: auto;
    margin-left: 250px;
    padding: 20px;
    background-color: #132043;
    box-shadow: 5px 5px 20px rgba(0, 0, 0.5, 0.5);
    margin-bottom: 20px;
    border-top-left-radius: 20px; /* Sudut kiri atas */
    border-top-right-radius: 20px; /* Sudut kanan atas */
    border-bottom-right-radius: 20px; /* Sudut kanan bawah */
    border-bottom-left-radius: 20px; 
    flex-direction: column;
}

.container4 {
    width: 55%;
    height: auto;
    margin-left: 250px;
    padding: 20px;
    background-color: #132043;
    box-shadow: 5px 5px 20px rgba(0, 0, 0.5, 0.5);
    margin-bottom: 20px;
    border-top-left-radius: 20px; /* Sudut kiri atas */
    border-top-right-radius: 20px; /* Sudut kanan atas */
    border-bottom-right-radius: 20px; /* Sudut kanan bawah */
    border-bottom-left-radius: 20px; 
    flex-direction: column;
}


.container2 img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-top-left-radius: 20px; /* Sudut kiri atas */
    border-top-right-radius: 20px; /* Sudut kanan atas */
    border-bottom-right-radius: 20px; /* Sudut kanan bawah */
    border-bottom-left-radius: 20px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0.5, 0.5);
}

.container3 img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-top-left-radius: 20px; /* Sudut kiri atas */
    border-top-right-radius: 20px; /* Sudut kanan atas */
    border-bottom-right-radius: 20px; /* Sudut kanan bawah */
    border-bottom-left-radius: 20px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0.5, 0.5);
    
}


.name {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-family: cursive;
    color: azure;
    clear: left;
}

.description {
    font-size: 14px;
    color: azure;
    letter-spacing: 1px;
    line-height: 1.4;
}

.weapon {
    display: flex;
}

.laylaweapon {
    margin-left: 50px;
    margin-top: 15px;
    padding: 5px;
}

.laylaweapon img {
    width: 85px;
    height: 85px;

}

.hutaoweapon img {
    width: 85px;
    height: 85px;

}
.noelleweapon img {
    width: 85px;
    height: 85px;

}


.hutaoweapon {
    margin-left: 10px;
}

.noelleweapon {
    margin-left: 38px;
    margin-top: 15px;
    padding: 5px;
}





